# Model architecture configuration
conv1:
  in_channels: 1
  out_channels: 32
  kernel_size: 3
  stride: 1

conv2:
  in_channels: 32
  out_channels: 64
  kernel_size: 3
  stride: 1

conv3:
  in_channels: 64
  out_channels: 128
  kernel_size: 3
  stride: 1

dropout_rate: 0.5

fc1:
  in_features: 128
  out_features: 10
