name: DVC Workflow

on:
  pull_request:
    branches:
    - main
    paths:
    - '**/*.dvc'
    - '.dvc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write

jobs:
  run_data_checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          enable-cache: true

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Install dvc
        uses: ./.github/actions/setup-dvc
        with:
          DVC_SSH_KEY: ${{ secrets.DVC_SSH_KEY }}
          DVC_SSH_PASSPHRASE: ${{ secrets.DVC_SSH_PASSPHRASE }}
          DTU_PASSWORD: ${{ secrets.DTU_PASSWORD }}
          DVC_SSH_USERNAME: ${{ secrets.DVC_SSH_USERNAME }}
          DVC_SSH_HOSTNAME: ${{ secrets.DVC_SSH_HOSTNAME }}

      - name: DVC pull
        run: uv run dvc pull

      - name: Check data statistics
        run: uv run python src/ml_ops/dataset.py

      - name: Check data statistics & generate report
        run: |
          uv run python src/ml_ops/dataset.py > data_statistics.md
          echo '![](./mnist_images.png "MNIST images")' >> data_statistics.md
          echo '![](./train_label_distribution.png "Train label distribution")' >> data_statistics.md
          echo '![](./test_label_distribution.png "Test label distribution")' >> data_statistics.md

      - name: Setup cml # continuous machine learning
        uses: iterative/setup-cml@v3

      - name: Comment on PR
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create data_statistics.md --watermark-title="Data Checker" # (1)!

      - name: Cleanup SSH Key
        if: always()  # Runs even if tests fail
        run: rm -f dvc_key_file