name: Pre-commit CI
# (currently not executed automatically,
# since we use pre-commit.ci)

# Auto integrate changes made by .pre-commit-config.yaml hooks
#
# ALTERNATIVE: use pre-commit.ci (only for public repos)

on:
  # push:
  # pull_request:
  workflow_dispatch: # run only manually

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push fixes back to the repo
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all history so auto-commit can push successfully
          fetch-depth: 0 

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        # We allow failure so the next step can commit the fixes
        continue-on-error: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "style: auto-fixes from pre-commit"