# This GitHub Actions workflow is triggered when a model in the WandB
# registry is staged (i.e., it receives the 'staged' alias).
#
# In this case, WandB executes a WEBHOOK (set up in team) 
# that -- using a PAT -- sends a signal to the GH repository's API endpoint:
#
#   https://api.github.com/repos/schependom/DTU_ML-operations/dispatches
#
# This 'repository_dispatch' signal -- which all GH actions listen to -- carries the payload:
# {
#     "event_type": "staged_model",
#     "client_payload":
#     {
#         "event_author": "${event_author}",
#         "artifact_version": "${artifact_version}",
#         "artifact_version_string": "${artifact_version_string}",
#         "artifact_collection_name": "${artifact_collection_name}",
#         "project_name": "${project_name}",
#         "entity_name": "${entity_name}"
#     }
# }
#
# Note that this will only trigger on the MAIN branch.

name: Check staged model

on:
  repository_dispatch:
    types: staged_model

jobs:
  identify_event:
    runs-on: ubuntu-latest
    outputs:
      model_name: ${{ steps.set_output.outputs.model_name }}
    steps:
      - name: Check event type
        run: |
          echo "Event type: repository_dispatch"
          echo "Payload Data: ${{ toJson(github.event.client_payload) }}"

      - name: Setting model environment variable and output
        id: set_output
        run: |
          echo "model_name=${{ github.event.client_payload.artifact_version_string }}" >> $GITHUB_OUTPUT

  test_model:
    runs-on: ubuntu-latest
    needs: identify_event
    env:
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
      WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
      WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
      MODEL_NAME: ${{ needs.identify_event.outputs.model_name }}
      WANDB_COLLECTION: ${{ github.event.client_payload.artifact_collection_name }}
    steps:
    - name: Echo model name
      run: |
        echo "Model name: $MODEL_NAME"
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Install dependencies
      run: uv sync --all-groups

    - name: Install dvc
      uses: ./.github/actions/setup-dvc
      with:
        DVC_SSH_KEY: ${{ secrets.DVC_SSH_KEY }}
        DVC_SSH_PASSPHRASE: ${{ secrets.DVC_SSH_PASSPHRASE }}
        DTU_PASSWORD: ${{ secrets.DTU_PASSWORD }}
        DVC_SSH_USERNAME: ${{ secrets.DVC_SSH_USERNAME }}
        DVC_SSH_HOSTNAME: ${{ secrets.DVC_SSH_HOSTNAME }}

    - name: DVC pull
      run: |
        uv run dvc pull

    - name: Run tests
      run: |
        uv run pytest tests/performancetests/test_model.py